<html>

<head>

	<title>Data Board</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="css/a5-pt2.css" rel="stylesheet">
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/a5-pt2.js"></script>

</head>

<body>

	<h2 class="header">DATABOARD</h2>

	<form class="header searchbar" action="#">
		<input type="text" placeholder="Search..">
		<button type="submit"><i class="fa fa-search"></i></button>
	</form>

	<div class="tabs">
		<a href="/">HOME</a>
		<div class="midtab">
			<a href="#">CATEGORIES</a>
		</div>
		<a href="#">CONTACTS</a>
	</div>

	<h1 class="gametitle"> THE SETTLERS OF CATAN </h1>
	<img class="gamepic" src="https://crowscastle.com/375-large_default/the-settlers-of-catan.jpg"></img>

	<p class="gamedescription">The Settlers of Catan from Mayfair Games is an award-winning strategy game where players
		collect resources and
		use them to build roads, settlements and cities on their way to victory. The board itself is variable, making
		each game a little different from the next.</p>

	<a class="gamemanual" href="https://www.catan.com/service/game-rules">Link To Manual</a>

	<iframe class="gamevid" width="240" height="160" src="https://www.youtube.com/embed/cPhX_1RiwEg">
	</iframe>

</body>

</html>